<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Address">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="receivername" property="receivername" />
        <result column="receiverphone" property="receiverphone" />
        <result column="receiverprovince" property="receiverprovince" />
        <result column="receivercity" property="receivercity" />
        <result column="receiverdistrict" property="receiverdistrict" />
        <result column="receiveraddress" property="receiveraddress" />
        <result column="is_default" property="isDefault" />
    </resultMap>
    <insert id="addAddress">
        insert into osms_address(user_id,receivername,receiverphone,receiverprovince,receivercity,receiverdistrict,
                                        receiveraddress,is_default) values(#{userId},#{receivername},#{receiverphone},#{receiverprovince},#{receivercity},
                                        #{receiverdistrict},#{receiveraddress},0)
    </insert>
    <update id="updateAddress">
        update osms_address set receivername = #{receivername},receiverphone = #{receiverphone},receiverprovince = #{receiverprovince},
                                receivercity = #{receivercity}, receiverdistrict = #{receiverdistrict}, receiveraddress = #{receiveraddress}
        where  id = #{id}
    </update>
    <update id="setDefault">
        update osms_address set is_default = 1 where id = #{id}
    </update>
    <update id="setNotDefault">
        update osms_address set is_default = 0 where user_id = #{userId} and is_default = 1
    </update>

    <select id="selectByUserId" resultType="com.example.mybatisplus.model.domain.Address">
        select * from osms_address where user_id = #{userId}
    </select>
    <select id="selectByAddId" resultType="com.example.mybatisplus.model.domain.Address">
        select * from osms_address where id = #{id}
    </select>
    <select id="getDefault" resultType="com.example.mybatisplus.model.domain.Address">
        select * from osms_address where user_id = #{userId} and is_default = 1
    </select>
    <select id="getAlladdress" resultType="java.util.Map">
        select *,is_default as seen from osms_address where user_id=#{userId}
    </select>

</mapper>
