<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Brand">
        <id column="id" property="id" />
        <id column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="logourl" property="logourl" />
        <result column="describ" property="describ" />
        <result column="category_id" property="categoryId" />
    </resultMap>

</mapper>
