<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.SellerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Seller">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="location" property="location" />
        <result column="onlinetime" property="onlinetime" />
        <result column="status" property="status" />
        <result column="identification" property="identification" />
        <result column="facephoto" property="facephoto" />
    </resultMap>
    <update id="logoutById">
        update osms_seller set status = 4 where id = #{id}
    </update>
</mapper>
